* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 31, 31);
}

.postcard {
    background-color: white;
    width: 500px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header .container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header .container h1 {
    padding-left: 10px;
}

header .container img {
    width: 50px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
}


.container p {
    padding: 10px;
}

.container .inputs {    
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: white;
}

.container .inputs input {
    margin: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
}

.submit {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit button {
    background-color: gray;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}